
.dropdownWrapper {
  width: 100%;
  // max-width: 300px;
  margin-bottom: 1rem;

  .dropdown {
    width: 100%;
    
    &:focus {
      outline: 2px solid var(--cds-focus);
      outline-offset: -2px;
    }
  }
}
